@model wypozyczalnia_gier.Controllers.EditGameViewModel

@{
    ViewData["Title"] = "GraEditViewForm";
}

<h1>Edytuj grę</h1>

<h4>Gra</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="TytulGry" class="control-label"></label>
                <input asp-for="TytulGry" class="form-control" />
                <span asp-validation-for="TytulGry" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KategoriaGryId" class="control-label"></label>
                <select asp-for="KategoriaGryId" asp-items="Model.Categories" class="form-control"></select>
            </div>
            <div class="form-group">
                <label asp-for="DeweloperGry" class="control-label"></label>
                <input asp-for="DeweloperGry" class="form-control" />
                <span asp-validation-for="DeweloperGry" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PEGI" class="control-label"></label>
                <input asp-for="PEGI" class="form-control" />
                <span asp-validation-for="PEGI" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CenaWypozyczeniaGry" class="control-label"></label>
                <input asp-for="CenaWypozyczeniaGry" class="form-control" />
                <span asp-validation-for="CenaWypozyczeniaGry" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="ListaGier" asp-controller="Gry">Wróć</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
